.content_skills_icons{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}
.div_skills_icons{
    display: flex;
}
#img_skill{
    margin-right: 1rem;
    cursor: pointer;
}
#img_skill:hover{
    transition: all;
    transition-delay: 1ms;
    transform: scale3d(1.7, 1.7, 1.7);
}
.img_portfolio{
    width: 355.01px;
    height: 246.03px;

    border: 0.2rem solid white;

    cursor: pointer;
}
.content_discription{
    display: flex;
    justify-content: center;
}

#back{
    background-color: #57244A;
}
#front{
    background-color: #3A4D57;
}
