.content_skills_icons{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}
.div_skills_icons{
    display: flex;
}
#img_skill{
    margin-right: 1rem;
    cursor: pointer;
}
#img_skill:hover{
    transition: all;
    transition-delay: 1ms;
    transform: scale3d(1.7, 1.7, 1.7);
}
#ui_ux{
    background-color: #4B3A2A;
}
#back{
    background-color: #57244A;
}
#front{
    background-color: #3A4D57;
}
