.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 1.2rem;
    width: 38.8rem;
    height: 26.9rem;

    cursor:not-allowed;
}
.card:hover{
    opacity: 0.9;
}
.card p{
    text-align: center;
}
.card img{
    position: absolute;
    top: -3rem;
}
.content_discription{
    display: flex;
    gap: 2.8rem;
}