.container_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height:22.2rem;

}
.h1_mobile{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3.9rem;

    color: #C4AD8C;
}
.margin_top{
    margin-top: 10.0rem;
}