.contente_formtion_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 281px;
    height: 63px;
}
.contente_formtion_mobile strong { 

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.4rem;

    margin-bottom: 1rem;

}
.contente_formtion_mobile p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;

    text-align: center;
    margin-bottom: 1rem;
}
.gap{
    display: flex;
    flex-direction: column;

    gap: 4rem;
}