.container_service_mobile{
    position: relative;
   
    display: flex;
    flex-direction: column;    
    
    height: 25.1rem;

}
.margin_bottom{
    margin-bottom: 10.0rem;
    text-align: center;
}
.container_cards{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 100%;
    height: 17.3rem;

    top: 20%;
    left: 0;
}
.cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 25.0rem;
    height: 17.3rem;
    padding: 0 1.2rem;
    
    border-radius: 0.2rem;
}
._1{
    background: radial-gradient(84.9% 84.9% at 49.77% -5.37%, rgba(180, 138, 61, 0.49) 0%, rgba(63, 47, 53, 0.63) 45.31%, #231A33 100%);
}
._2{
    background: radial-gradient(84.9% 84.9% at 49.77% -5.37%, #84246C 0%, rgba(63, 47, 53, 0.63) 45.31%, #231A33 100%);
}
._3{
    background: radial-gradient(84.9% 84.9% at 49.77% -5.37%, #467C8A 0%, rgba(63, 47, 53, 0.63) 45.31%, #231A33 100%);
}
.cards img{
    position: absolute;
    width: 6rem;
    height: 4.6rem;

    right: 37.4%;
    top: -10%;
}
.cards p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
}