.container_my_name_mobile{
    display: flex;
    flex-direction: column;

    margin-top: 10.0rem;
  
}
.p1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;

    margin-bottom: 0.9rem;
}
.s_name{
    color: #C4AD8C;
}
.container_my_name_mobile strong{

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5rem;

    margin-bottom: 1rem;
}
.p2{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6rem;
}
.inf_social{
    display: flex;
    gap: 0.9rem;
    margin-top: 3rem;
}
.inf_social img{
    cursor: pointer;
}
.inf_social img:hover{
    opacity: 0.7;
}