.content_img_portifolio_mobile img{
    width: 19px;
    height: 19px;
}
.container_portifolio_mobile img:hover{
    transition: all;
    transition-delay: 1ms;
    transform: scale3d(2.1 2.1 2.1);

    border: 1px solid white;
}