.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 100%;
    height: 20rem;


    background-color: #303541;
    z-index: 1;
}

.content_footer{
    position: relative;
    display: flex;
    flex-direction: column;

   
    height: 15rem;
    width: 99.2rem;
    border-bottom: 0.1rem solid #FFFFFF;
}
.container_footer strong{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.9rem;

    color: #ED9A5E;
}
.left{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;
    gap: 2rem;
    margin-top: 9rem;

    color: #FFFFFF;
}
.left span {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.3rem;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.left span p:first-child{
    color: #df813f;
}
.rigth{
    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 0.9rem;
    right: 11.2rem;
    gap: 1.0rem;
    width: 12.0rem;
    height: 6.3rem;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;

    color: #ED9A5E;
}
.social_span{
    display: flex;
    gap: 1.5rem;
}
.social_span img{
    width: 3rem;
    height: 3rem;

    cursor: pointer;
}
.social_span img:hover{
    opacity: 0.8;
}