.container_page{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 100%;
    height: 100%;

    background-color: #000000;
}


.body_page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 122.0rem;
    height: 100%
}
.span_page_init{
    position: absolute;

    bottom: 5rem;
    right: 0;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-decoration-line: underline;

    color: #C4AD8C;

    cursor: pointer;
}
.span_page_init:hover{
    color: #ffffff;
}