.container_page{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: #0a0909;
}


.body_page{
    position: relative;
    background-color: #0a0909;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100%;
}
.span_page_init{
    position:sticky;
    
    width: 90%;
    text-align: right;
    bottom: 7%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-decoration-line: underline;

    color: #C4AD8C;

    cursor: pointer;

    z-index: 1;
}
.span_page_init:hover{
    color: #ffffff;
}


.container_social_contact{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
   z-index: 1;
}