.container_page{
    display: flex;
    flex-direction: column;
    height: 277.3rem;
    min-height: 100vh;
    
    padding-top: 3.1rem;
    background-color: #000000;
}
.body_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}